<nav class="basic-navbar" id="id-basic-nav">
  <a href="/home"><i class="fa fa-home"></i> Shitsulab</a>
  <a href="/more/about"><i class="fa fa-info"></i> About</a>
  <a href="javascript:void(0);" class="icon-if-small" onclick="toggle()">
    <i><i class="fa fa-list"></i> Menu</i>
  </a>
</nav>